.top-tip,.bottom-tip,.refreshAlert
  height 60px
  line-height 60px
  text-align center
.refreshAlert
  position absolute
  top 60px
  left 0
  font-size $font-size-30
  color #ffffff
  width 100%
  z-index 5
  background rgba(7, 17, 27, 0.7)
