// 颜色定义规范
// $color-background = #222
// $color-background-d = rgba(0, 0, 0, 0.3)
// $color-highlight-background = #333
// $color-dialog-background = #666
// $color-theme = #ffcd32
// $color-theme-d = rgba(255, 205, 49, 0.5)
// $color-sub-theme = #d93f30
// $color-text = #fff
// $color-text-d = rgba(255, 255, 255, 0.3)
// $color-text-l = rgba(255, 255, 255, 0.5)
// $color-text-ll = rgba(255, 255, 255, 0.8)

//$color-background = #fff
//$color-background-m = #222
//$color-background-g = #f4f4f4
//$color-highlight-background = #333
//$color-text = #000
//$color-text-w = #fff
//$color-text-g = grey
//$color-d = rgba(255, 255, 255, 0.5)
//$color-d-a = rgba(255, 255, 255, 0.8)
//$color-p = rgba(0, 0, 0, 0.3)
//$color-text-w = #eee
//$color-text-l = #6cf
//$color-text-ll = #9cf
//$color-theme = #6cf
//$color-theme-d = rgba(255, 255, 255, 0.5)
//$color-theme-l = rgba(103, 204, 255, 0.5)
//$color-sub-theme = #d93f30

$color-h = rgb(153,153,153)
$color-black= rgb(51,51,51)
$color-red = rgb(255,56,59)
$color-blue = rgb(78,151,255)
$color-bottom = rgb(238,238,238)
//字体定义规范
$font-size-20 = 20px
$font-size-22 = 22px
$font-size-24 = 24px
$font-size-26 = 26px
$font-size-28 = 28px
$font-size-30 = 30px
$font-size-32 = 32px
$font-size-34 = 34px
$font-size-36 = 36px
$font-size-38 = 38px
$font-size-40 = 40px


